services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - client
      - server

  redis:
    image: redis:alpine
    container_name: 99-redis
    restart: always

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: 99-server
    restart: always
    depends_on:
      - redis
      
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: 99-client
    restart: always
    depends_on:
      - server